.index-promo {
  margin: 20px 0;
}



.index-promo .container {
  position: relative;
  padding: 0;
}



.index-promo__img {
  display: block;
  margin: 0 auto;
}



.index-promo .tns-nav {
  position: absolute;
  left: 50%;
  bottom: 25px;
  transform: translateX(-50%);
  z-index: 1;
}


.index-promo .tns-nav button {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #9a9a9a;
  border: none;
  margin: 0 4px;

  &.tns-nav-active {
    background-color: #006faa;
  }
}