.about {
  background-color: #F4FBFF;
  padding: 25px 0 18px;
  min-width: @mobile;


  @media (min-width: @tablet) {
    padding: 47px 0 30px;
  }
  @media (min-width: @desktop) {
    padding: 54px 0 48px;
  }
}



.about__header-row {
  margin: 0 0 5px;

  @media (min-width: @tablet) {
    margin: 0 0 10px;
  }
  @media (min-width: @desktop) {
    margin: 0 0 27px;
  }
}



.about__header {
  .h2();
}



.about__text {
  line-height: 22px;
  padding: 0 0 15px;


  &--signature {
    font-weight: 500;
    font-style: italic;
  }

  @media (min-width: @desktop) {
    line-height: 28px;
    padding: 0 190px 28px 0;
  }
}
