.catalog {
  padding: 20px 0;

  &--product {
    background-color: @bg-decorated-color;
    padding: 20px 0 0;
  }


  @media (min-width: @desktop) {
    &--product {
      padding: 0;
    }
  }
}



.catalog__header {
  .h1();

  .catalog--product & {
    .h2();
  }
}



.catalog__description {
}



.catalog__description p {
  max-width: 90ch;
  padding-bottom: 1em;

  &:last-child {
    padding-bottom: 2em;
  }
}



.catalog__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(~"100% + 20px");
  margin: 0 -10px;
  padding: 10px 0;
}



.catalog__item {
  margin: 0 10px 20px;
  width: calc(~"25% - 20px");
}