.catalog {
  padding: 0 0 20px;

  &--product {
    background-color: @bg-decorated-color;
    padding: 20px 0 0;
  }


  @media (min-width: @tablet) {
    padding: 20px 0;
  }
  @media (min-width: @desktop) {
    &--product {
      padding: 0;
    }
  }
}



.catalog__header {
  .h1();

  .catalog--product & {
    .h2();
  }
}



.catalog__description {
}



.catalog__description p {
  max-width: 90ch;
  padding-bottom: 1em;

  &:last-child {
    padding-bottom: 2em;
  }
}



.catalog__list {
  padding: 10px 0;


  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(~"100% + 20px");
    margin: 0 -10px;
  }
}



.catalog__item {
  margin: 0 0 10px;

  @media (min-width: @tablet) {
    margin: 0 10px 20px;
    width: calc(~"25% - 20px");
  }
}