.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
}



.content {
  flex: 1 0 auto;
}



.page-footer {
  flex: 0 0 auto;
}



.container {
  width: 100%;
  max-width: @desktop;
  min-width: @mobile;
  margin: 0 auto;
  padding: 0 15px;


  @media (min-width: @tablet) {
    padding: 0 30px;
  }
}

.visually-hidden {
  &:not(:focus):not(:active) {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}


.main-header {
  .h1();
  margin: 20px 0;
}



.decorated-block {
  @media (min-width: @desktop) {
    position: relative;
    background-color: #fff;
    padding-top: 54px;
    padding-bottom: 64px;

    &:before {
      content: '';
      display: block;
      height: 100%;
      width: 100vw;
      position: absolute;
      top: 0;
      right: 100%;
      background-color: #fff;
      z-index: 0;
    }
    &:after {
      content: '';
      display: block;
      height: 100%;
      width: 40px;
      position: absolute;
      top: 0;
      left: 100%;
      background-color: #fff;
      border-radius: 0 40px 40px 0;
    }


    .special-offers & {
      padding-top: 15px;
      padding-bottom: 40px;
    }
  }
}
