.index-promo {
  margin: 0 0 5px;
  padding: 0 0 20px;
  min-width: @mobile;
  background-color: #e5e5e5;

  @media (min-width: @desktop) {
    margin: 0;
    padding: 0;
  }
}



.index-promo__content {
  @media (min-width: @tablet) {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 0 45px;
  }
}



.index-promo__img-wrapper {
  max-height: 205px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e5e5e5;

  @media (min-width: @tablet) {
    order: 2;
    max-height: 240px;
  }

  @media (min-width: @desktop) {
    max-height: 420px;
    width: 45%;
    justify-content: flex-end;
  }
}



.index-promo__img {
  display: block;
}



.index-promo__info {
  background-color: #fff;
  padding: 16px;

  @media (min-width: @tablet) {
    order: 1;
    width: 370px;
    position: relative;
    padding: 16px 0;
    flex-shrink: 0;

    &:before {
      content: '';
      height: 100%;
      width: calc(~"50vw" - (@tablet / 2 - 30));
      background-color: #fff;
      position: absolute;
      top: 0;
      right: 100%;
    }
  }

  @media (min-width: @desktop) {
    width: 55%;
    padding: 26px 0;
  }
}



.index-promo__name {
  font-size: 2rem;
  font-weight: 500;
  margin: 0 0 10px;


  @media (min-width: @desktop) {
    font-size: 2.4rem;
    margin: 0 0 15px;
  }
}



.index-promo__description {
  font-size: 1.2rem;
  margin: 0 0 20px;

  @media (min-width: @desktop) {
    font-size: 1.5rem;
    margin: 0 0 30px;
  }
}
