.item-card {
  .card();

  &--price {
    position: relative;

    &:after {
      content: 'Спеццена';
      color: #fff;
      text-align: center;
      display: block;
      padding: 5px 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: fade(@link-color-main, 70%);
    }
  }
  &--stock {
    position: relative;

    &:after {
      content: 'В наличии';
      color: #fff;
      text-align: center;
      display: block;
      padding: 5px 0;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-color: rgba(246,10,10,0.7);
    }
  }
}



.item-card__img-wrapper {
  width: 100%;
  height: 110px;
  // display: flex;
  // justify-content: center;
  // align-items: center;
  padding: 5px;
  position: relative;

  @media (min-width: @tablet) {
    height: 130px;
  }
  @media (min-width: @desktop) {
    height: 210px;
  }
}



.item-card__img {
  display: block;
  max-height: 100%;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}



.item-card__info {
  padding: 0 5px;

  @media (min-width: @tablet) {
    padding: 15px 15px 0;
  }
}



.item-card__name {
  .h3();
  font-weight: 400;
  transition: 0.3s color;
  margin: 5px 0 15px;

  @media (max-width: (@tablet - 1)) {
    text-align: center;
  }

  @media (min-width: @desktop) {
    .special-offers & {
      font-size: 1.8rem;
    }
  }
}



.item-card__characteristics-item {
  font-size: 1.2rem;
  margin: 0 0 10px;

  @media (min-width: @tablet) {
    margin: 0 0 15px;
  }

  @media (min-width: @desktop) {
    font-size: 1.6rem;
    margin: 0 0 20px;
  }
}



.item-card__characteristics-name {
  color: @date-color-main;
  margin: 0 0 5px;

  @media (min-width: @desktop) {
    margin: 0 0 10px;
  }
}



.item-card__characteristics-value {
  color: #333;
}