*,
*:before,
*:after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  height: 100%;
  font-size: 62.5%;
}

body {
  height: 100%;
  font-family: 'Roboto', 'Open Sans', sans-serif;
  color: @text-color-main;
  font-size: 1.4rem;
  background-color: #fff;

  &.menu-open {
    overflow: hidden;
  }


  @media (min-width: @desktop) {
    font-size: 1.6rem;
  }
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: @link-color-main;
  text-decoration: none;
  font: inherit;
  transition: 0.3s color;

  &:hover,
  &:focus {
    color: @link-color-hover;
  }

  &:active {
    color: @link-color-active;
  }
}

input {
  font: inherit;

  &::-webkit-input-placeholder { color: #7F7F7F;}
  &:-ms-input-placeholder      { color: #7F7F7F;}
}
