.partners {
  padding: 20px 0 30px;
}



.partners__header-row {
  padding: 8px 0 10px;
}



.partners__header {
  .h2();
}



.partners__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(~"100% + 10px");
  margin: 0 -5px;
}



.partners__item {
  margin: 0 5px 10px;
}



.partners__link {
  width: 100%;
  height: 55px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #EDEDED;
  border-radius: 10px;
  overflow: hidden;
}
