.slider-controls {
  display: flex;

  .no-js &,
  &[hidden] {
    display: none;
  }

  &--gallery {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    z-index: 0;
  }
}


.slider-controls__control {
  width: 20px;
  height: 20px;
  background-color: transparent;
  border: none;
  border: 1px solid #DFDFDF;
  border-radius: 0 50% 50% 0;
  position: relative;
  cursor: pointer;
  transition: 0.3s opacity;

  &--prev {
    border-radius: 50% 0 0 50%;
  }

  &[disabled] {
    opacity: 0.3;
    cursor: default;
    cursor: not-allowed;
  }

  .slider-controls--gallery & {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    &--prev {
      left: 0;
    }
  }

  @media (min-width: @tablet) {
    width: 32px;
    height: 33px;
  }
  @media (min-width: @desktop) {
    width: 40px;
    height: 40px;
  }
}


.slider-controls__icon {
  width: 8px;
  height: 8px;
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #262626;
  transition: 0.3s fill;


  .slider-controls__control--prev & {
    transform-origin: 50% 50%;
    transform: rotate(180deg);
  }

  .slider-controls__control:hover &,
  .slider-controls__control:focus & {
    fill: @link-color-main;
  }


  @media (min-width: @tablet) {
    width: 15px;
    height: 15px;
  }
}