.special-offers {
  background-color: #fff;
  padding: 20px 0;
}



.special-offers__header-row {
  padding: 8px 0 12px;
}




.special-offers__header {
  .h2();
}



.special-offers__list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch;
}



.special-offers__item {
  width: 190px;
}
