.news {
  background-color: @bg-decorated-color;
  padding-bottom: 20px;


  @media (min-width: @desktop) {
    padding-bottom: 40px;

    &--index {
      padding-top: 130px;
    }
  }
}



.news__header {
  .h1();

  &--same {
    .h2();
    padding: 35px 0 15px;
  }


  @media (max-width: (@desktop - 1)) {
    margin-top: 0;
  }
  @media (min-width: @desktop) {
    &--same {
      padding: 15px 0;
    }
  }
}



.news__date {
  font-size: 1.2rem;
  color: @date-color-main;


  @media (min-width: @desktop) {
    font-size: 1.6rem;
  }
}



.news__description {
  padding-top: 20px;
}



.news__description p {
  max-width: 90ch;
  padding-bottom: 1em;
}



.news__list {
  @media (min-width: @tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: stretch;
    width: calc(~"100% + 20px");
    margin: 0 -10px;
  }
}


.news__item {
  margin: 0 0 10px;

  @media (min-width: @tablet) {
    width: calc(~"50% - 20px");
    margin: 0 10px 15px;
  }

  @media (min-width: @desktop) {
    width: calc(~"25% - 20px");
  }
}



.news__more-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px 0 0;
}



.news__more-link {
  font-size: 1.4rem;
  color: @date-color-main;
  padding: 12px 35px;
  background-color: #fff;
  border-radius: 17px;
  border: 1px solid @shadow-color;
  box-shadow: 0 2px 0 @shadow-color;
  transition: 0.3s box-shadow;

  &:hover,
  &:focus {
    color: @date-color-main;
    box-shadow: 0 4px 0 @shadow-color;
  }

  &:active {
    box-shadow: 0 0 0 @shadow-color;
  }
}