.breadcrumbs
  .container
    ul.breadcrumbs__list
      li.breadcrumbs__item
        a.breadcrumbs__link(href="index.html")
          svg.breadcrumbs__icon(width="12" height="12", aria-hidden="true", role="presentation")
            use(xlink:href="#icon_arrow")
          |Главная
      li.breadcrumbs__item
        a.breadcrumbs__link(href="news.html")
          svg.breadcrumbs__icon(width="12" height="12", aria-hidden="true", role="presentation")
            use(xlink:href="#icon_arrow")
          |Новости
      li.breadcrumbs__item
        a.breadcrumbs__link
          svg.breadcrumbs__icon(width="12" height="12", aria-hidden="true", role="presentation")
            use(xlink:href="#icon_arrow")
          |Выставка «Металлообработка.Сварка — УРАЛ. 2018»