.notification-banner
  .container
    p.notification-banner__text
      |В данный момент сотрудники нашей компании работают удаленно, просим направлять вопросы и заявки на почту 
      a(href="mailto:office@stankim.com") office@stankim.com
    p.notification-banner__text Мы свяжемся с вами в ближайшее время.