footer.page-footer
  .container
    div.main-navigation
      ul.main-navigation__list
        li.main-navigation__item
          a.main-navigation__link(href="#") Оборудование
        li.main-navigation__item
          a.main-navigation__link(href="#") Комплектующие
        li.main-navigation__item
          a.main-navigation__link(href="#") Производители
        li.main-navigation__item
          a.main-navigation__link(href="#") Склад
        li.main-navigation__item
          a.main-navigation__link(href="#") Услуги
        li.main-navigation__item
          a.main-navigation__link(href="#") Контакты

    .layout-contacts
      ul.layout-contacts__list
        li.layout-contacts__item
          a.layout-contacts__link(href="#") +7 (3412) 912-004
        li.layout-contacts__item
          a.layout-contacts__link(href="#") office@stankim.com

    .page-footer__copyright © 2018