footer.page-footer
  .container
    .page-footer__row
      .logo
        a.logo__link(href="index.html")
          img.logo__img(src="img/logo.svg" width="122" height="24" alt="Логотип Станким")

      div.main-navigation
        ul.main-navigation__list
          li.main-navigation__item
            a.main-navigation__link(href="#") Оборудование
          li.main-navigation__item
            a.main-navigation__link(href="#") Комплектующие
          li.main-navigation__item
            a.main-navigation__link(href="#") Производители
          li.main-navigation__item
            a.main-navigation__link(href="#") Склад
          li.main-navigation__item
            a.main-navigation__link(href="#") Услуги
          li.main-navigation__item
            a.main-navigation__link(href="#") Контакты

      .layout-contacts
        ul.layout-contacts__list
          li.layout-contacts__item
            a.layout-contacts__link(href="#") +7 (3412) 912-004
          li.layout-contacts__item
            a.layout-contacts__link.layout-contacts__link--email(href="#") office@stankim.com

    .social
      p.visually-hidden Мы в социальных сетях
      ul.social__list
        li.social__item
          a.social__link(href="https://www.facebook.com/stankim.machines" target="_blank" rel="nofollow noreferrer noopener")
            span.visually-hidden Facebook
            svg.social__icon(width="15", height="30", aria-hidden="true", role="presentation")
              use(xlink:href="#icon_fb")
        li.social__item
          a.social__link(href="https://www.youtube.com/channel/UCDqWThPsiZbnuD_XyS3dp-Q" target="_blank" rel="nofollow noreferrer noopener")
            span.visually-hidden Youtube
            svg.social__icon(width="30", height="21", aria-hidden="true", role="presentation")
              use(xlink:href="#icon_youtube")
    .page-footer__copyright © 2018