header.page-header
  .container
    .page-header__row
      button.menu-toggle Меню

      .logo
        a.logo__link(href="index.html")
          img.logo__img(src="img/logo.png" width="122" height="24" alt="Логотип Станким")

      button.search-toggle
        svg.search-toggle__icon(width="18" height="18")
          use(xlink:href="#icon_search")
        span.visually-hidden Поиск