header.page-header
  .container
    .page-header__row
      .logo
        a.logo__link(href="#")
          img.logo__img(src="./img/logo.svg", alt="Логотип Станким", width="281", height="58")

      form.search-form(action="#")
        input#search-header.search-form__input(type="text")
        label.search-form__label(for="search-header")
          span.visually-hidden Поиск по названию
          svg(width="18", height="18").search-form__label-icon
            use(xlink:href="#icon_search")

      .layout-contacts
        ul.layout-contacts__list
          li.layout-contacts__item
            a.layout-contacts__link(href="tel:+7 (3412) 912-004")
              |+7 (3412) 912-004
              svg(width="20", height="20").layout-contacts__link-icon
                use(xlink:href="#icon_phone")
          li.layout-contacts__item
            a.layout-contacts__link(href="mailto:office@stankim.com")
              |office@stankim.com
              svg(width="20", height="20").layout-contacts__link-icon
                use(xlink:href="#icon_dog")

    nav.main-navigation
      ul.main-navigation__list
        li.main-navigation__item
          a.main-navigation__link(href="#") Оборудование
        li.main-navigation__item
          a.main-navigation__link(href="#") Комплектующие
        li.main-navigation__item
          a.main-navigation__link(href="#") Производители
        li.main-navigation__item
          a.main-navigation__link(href="#") Склад
        li.main-navigation__item
          a.main-navigation__link(href="#") Контакты