footer.page-footer
  .container
    nav.main-navigation
      ul.main-navigation__list
        li.main-navigation__item
          a.main-navigation__link Оборудование
        li.main-navigation__item
          a.main-navigation__link Комплектующие
        li.main-navigation__item
          a.main-navigation__link Производители
        li.main-navigation__item
          a.main-navigation__link Склад
        li.main-navigation__item
          a.main-navigation__link Услуги
        li.main-navigation__item
          a.main-navigation__link Контакты

    .layout-contacts
      ul.layout-contacts__contacts
        li.layout-contacts__item
          a.layout-contacts__link(href="#") +7 (3412) 912-004
        li.layout-contacts__item
          a.layout-contacts__link(href="#") office@stankim.com

    .page-footer__copyright © 2018