extends ./layout/index.pug

block content
  include ./components/breadcrumbs.pug

  .catalog
    .container
      h1.catalog__header Токарные станки

      .catalog__description
        p.catalog__description-text Токарные станки с ЧПУ предназначены для наружной и внутренней обработки резанием заготовок деталей типа тел вращения, где вращательное движение заготовки является главным движением, а движение режущего инструмента - поступательным движением подачи.
        p.catalog__description-text На токарных станках выполняют традиционный комплекс технологических операций: обточку и расточку цилиндрических, конических и фасонных поверхностей, нарезание резьбы, подрезку и обработку торцов, сверление, зенкерование и развертывание отверстий. Токарные станки с ЧПУ составляют самую значительную долю в парке станков с ЧПУ.

      ul.catalog__list
        li.catalog__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.catalog__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.catalog__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.catalog__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.catalog__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760

