extends ./layout/index.pug

block content
  h1.visually-hidden Компания Станким

  section.index-promo
    .container
      h2.visually-hidden В центре внимания

      .index-promo__img-wrapper
        img.index-promo__img(src="img/promo.png", alt="Современные обрабатывающие центра серии VDL/VDF")

      .index-promo__info
        p.index-promo__name Современные обрабатывающие центра серии VDL/VDF
        p.index-promo__description Новый дизайн. Усиленная конструкция. Комплектующие от мировых лидеров

        .link
          a.link__button(href="#") Узнать больше



  section.special-offers
    .container
      .special-offers__header-row
        h2.special-offers__header Спецпредложения

      ul.special-offers__list
        li.special-offers__item
          a.item-card(href="#")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        //- li.special-offers__item
        //-   a.item-card(href="#")
        //-     .item-card__img-wrapper
        //-       img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
        //-     h3.item-card__name VMC — 1400
        //-     ul.item-card__characteristics-list
        //-       li.item-card__characteristics-item
        //-         p.item-card__characteristics-name Размер рабочего стола, мм:
        //-         p.item-card__characteristics-value 1400х710
        //-       li.item-card__characteristics-item
        //-         p.item-card__characteristics-name Перемещение по осям, мм:
        //-         p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760



  section.news
    .container
      h2.news__header Новости

      ul.news__list
        li.news__item
          a.news-card(href="#")
            .news-card__img-wrapper
              img.news-card__img(src="img/news-card.jpg", alt="Название картинки")
            .news-card__info
              time.news-card__date 25 января 2018
              p.news-card__header ООО «Станким» получило обновленный сертификат партнера компании FANUC в области средств автоматизации и систем ЧПУ
        li.news__item
          a.news-card(href="#")
            .news-card__img-wrapper
              img.news-card__img(src="img/news-card.jpg", alt="Название картинки")
            .news-card__info
              time.news-card__date 25 января 2018
              p.news-card__header ООО «Станким» получило обновленный сертификат партнера компании FANUC в области средств автоматизации и систем ЧПУ

      .news__link-wrapper
        a.news__link(href="#") Показать больше



  section.partners
    .container
      .partners__header-row
        h2.partners__header Наши партнёры

      ul.partners__list
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="img/partner.jpg", alt="Концерн калашников")
        li.partners__item
          a.partners__link(href="#")
            img.partners__img(src="img/partner.jpg", alt="Концерн калашников")



  section.about
    .container
      h2.about__header О компании

      p.about__text Компания Станким более 10 лет специализируется на прямых поставках из Тайваня и других стран современного металлообрабатывающего оборудования и комплектующих для его производства. В компании работают высококвалифицированные специалисты с многолетним стажем работы в области внешнеэкономической деятельности и в таможенных органах.

      p.about__text Мы поможем клиенту подобрать современное и надежное оборудование, наиболее подходящее для решения его конкретных технологических задач, доставим оборудование непосредственно заказчику, выполним пуско-наладочные работы, гарантийное и послегарантийное обслуживание. При необходимости наша компания предоставляет дополнительные услуги по поставке оборудования "под ключ", включая разработку технологии, изготовление оснастки, внедрение обработки детали на станке и др.

      p.about__text
        | На нашем складе в Ижевске постоянно имеются в наличии станочные светильники различных типов, станции смазки, компоненты системы подачи СОЖ и другие комплектующие, актуальный перечень которых вы можете посмотреть 
        a(href="#") здесь
        | .

      p.about__text Наша компания также оказывает весь спектр внешнеэкономических услуг, включая поиск по заказу клиента любого оборудования, как нового, так и б/у, производственных линий и комплексов. Мы обеспечим оформление и сопровождение внешнеэкономического контракта, доставку оборудования заказчику из любой точки мира, его таможенное оформление, а также перевод технической документации на русский язык в соответствии с требованиями российских стандартов.

      p.about__text Доверьте решение Ваших проблем профессионалам

      p.about__text.about__text--signature С уважением, коллектив ООО «Станким»

