extends ./layout/layout.pug

block content
  h1.visually-hidden Главная страница STANKIM

  section.index-promo
    .container
      .index-promo__content
        .index-promo__info
          h2.index-promo__name 5-осевые фрезерные обрабатывающие центры EUMAСH серии UMC
          p.index-promo__description Большая рабочая зона. Высокая скорость обработки.
          .link
            a.link__button(href="#") Узнать больше
        .index-promo__img-wrapper
          picture
            source(media="min-width: 1240px", srcset="./img/promo-desktop.png")
            source(media="min-width: 768px", srcset="./img/promo-tablet.png")
            img.index-promo__img(src="./img/promo-mobile.png", alt="5-осевые фрезерные обрабатывающие центры EUMAСH серии UMC")



  section.special-offers.section
    .container.decorated-block
      .section__header-row
        a.section__header-link(href="#") Спецпредложения

      ul.special-offers__list
        li.special-offers__item
          a.item-card(href="#")
            .item-card__img-wrapper
              img.item-card__img(src="./img/item-card.png", alt="VMC-1200")
            .item-card__info
              h3.item-card__name VMC-1200
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.special-offers__item
          a.item-card(href="#")
            .item-card__img-wrapper
              img.item-card__img(src="./img/item-card.png", alt="VMC-1200")
            .item-card__info
              h3.item-card__name VMC-1200
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.special-offers__item
          a.item-card(href="#")
            .item-card__img-wrapper
              img.item-card__img(src="./img/item-card.png", alt="VMC-1200")
            .item-card__info
              h3.item-card__name VMC-1200
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.special-offers__item
          a.item-card(href="#")
            .item-card__img-wrapper
              img.item-card__img(src="./img/item-card.png", alt="VMC-1200")
            .item-card__info
              h3.item-card__name VMC-1200
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760



  section.news.news--index.section
    .container
      .section__header-row
        a.section__header-link(href="#") Новости

      ul.news__list
        li.news__item
          a.news-card(href="#")
            .news-card__img-wrapper
              img.news-card__img(src="./img/news-card.jpg", alt="")
            .news-card__info
              time.news-card__date 12 марта 2018
              p.news-card__header Выставка «Металлообработка. Сварка — Урал. 2018»
        li.news__item
          a.news-card(href="#")
            .news-card__img-wrapper
              img.news-card__img(src="./img/news-card.jpg", alt="")
            .news-card__info
              time.news-card__date 12 марта 2018
              p.news-card__header Выставка «Металлообработка. Сварка — Урал. 2018»
        li.news__item
          a.news-card(href="#")
            .news-card__img-wrapper
              img.news-card__img(src="./img/news-card.jpg", alt="")
            .news-card__info
              time.news-card__date 12 марта 2018
              p.news-card__header Выставка «Металлообработка. Сварка — Урал. 2018»
