extends ./layout/index.pug

block content
  include ./components/breadcrumbs.pug


  .product
    .container.decorated-block
      h1.product__header HSM-1000L

      .product__additional
        .product__large-img-wrapper
          img.product__large-img(src="img/product-large.jpg", alt="Подпись фотографии")

        .aside-additional
          .aside-additional__block
            h2.aside-additional__header Фотографии

            .aside-gallery
              ul.aside-gallery__list
                li.aside-gallery__item
                  a.aside-gallery__link.aside-gallery__link--active(href="http://prelestno24.ru/wp-content/uploads/2017/11/kartinka.jpg" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="http://love-picture.narod.ru/olderfiles/2/grust_1.jpg" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://images.ua.prom.st/358569076_w0_h0_123.jpg" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://aip-a.akamaihd.net/2018/04/Ischezayushhaya-kartinka-vzorvala-internet.png" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://images.ua.prom.st/1065689111_w0_h0_15.png" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://mirgif.com/humor/prikol104.jpg" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")


          .aside-additional__block
            h2.aside-additional__header Видео

            .aside-gallery
              ul.aside-gallery__list
                li.aside-gallery__item
                  a.aside-gallery__link.aside-gallery__link--video(href="#" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link.aside-gallery__link--video(href="#" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")


          .aside-additional__block
            h2.aside-additional__header Файлы

            ul.product__file-list
              li.product__file-item
                a.product__file-link(href="#")
                  svg.product__file-icon(width="35" height="40")
                    use(xlink:href="#icon_pdf")
                  .product__file-info
                    .product__file-name Скачать каталог eumach_vmc_1200_1400_catalogue
                    .product__file-size 3,5 МБ


          .aside-additional__block
            a.product__ask-button(href="#") Задать вопрос


      .tabs
        ul.tabs__list
          li.tabs__item
            a.tabs__link.tabs__link--active(href="#") О товаре
          li.tabs__item
            a.tabs__link(href="#") Характеристики
          li.tabs__item
            a.tabs__link(href="#") Комплектация
          li.tabs__item
            a.tabs__link(href="#") Наличие на складе


        ul.tabs__content-list
          li.tabs__content-item.tabs__content-item--active
            h2.visually-hidden Описание HSM-1000L
            .product__about
              p Вертикальные обрабатывающие центры серии VMC имеют неподвижную стойку (колонну) с вертикально-подвижной шпиндельной бабкой и подвижный крестовой стол.
              p Конструкция станка с четыремя (шестью) поперечными направляющими стола обеспечивает высокую жесткость.
              p Данная серия станков ориентирована на обработку любых типов заготовок, в том числе и для сложных и тяжелых режимов резания, часто применяемых в отечественном машиностроении.
              p Наиболее часто обрабатываемые детали: корпуса, фланцы, пресс-формы и штампы.
              p Станки серии VMC могут быть укомплектованы ЧПУ Fanuc, Siemens, Mitsubishi, Syntec.

          li.tabs__content-item
            h2.visually-hidden Характеристики HSM-1000L
            
            .product__tables
              table
                tbody
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм

              table
                tbody
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм
                  tr
                    td Перемещение по осям X,Y,Z
                    td 1400x700x760 мм

          li.tabs__content-item
            h2.visually-hidden Комплектация HSM-1000L

            .product__equipments
              .product__equipment
                p.product__equipment-header Стандартная комплектация
                ul.product__equipment-list
                  li.product__equipment-item Ограждение стола кабинного типа
                  li.product__equipment-item 20-инструментальный МСИ без манипулятора
                  li.product__equipment-item Система подачи СОЖ
                  li.product__equipment-item Автоматическая система смазки
                  li.product__equipment-item Обдув конуса шпинделя сжатым воздухом
                  li.product__equipment-item Рабочий светильник
                  li.product__equipment-item Аварийный светильник
                  li.product__equipment-item Индикатор начала и окончания цикла
                  li.product__equipment-item Установочные болты и подкладки

              .product__equipment
                p.product__equipment-header Опции
                ul.product__equipment-list
                  li.product__equipment-item Ограждение стола кабинного типа
                  li.product__equipment-item 20-инструментальный МСИ без манипулятора
                  li.product__equipment-item Система подачи СОЖ
                  li.product__equipment-item Автоматическая система смазки
                  li.product__equipment-item Обдув конуса шпинделя сжатым воздухом
                  li.product__equipment-item Рабочий светильник
                  li.product__equipment-item Аварийный светильник
                  li.product__equipment-item Индикатор начала и окончания цикла
                  li.product__equipment-item Установочные болты и подкладки


          li.tabs__content-item
            h2.visually-hidden Наличие на складе

            table
              thead
                tr
                  th Код заказа
                  th Описание товара
                  th Кол-во на складе
              tbody
                tr
                  td(data-type="Код заказа") 154 526 456
                  td(data-type="Описание товара") Мы поможем клиенту подобрать современное и надежное оборудование, наиболее подходящее для решения его конкретных технологических задач, доставим оборудование непосредственно заказчику, выполним пуско-наладочные работы
                  td(data-type="Кол-во на складе") 150 шт.
                tr
                  td(data-type="Код заказа") 154 526 456
                  td(data-type="Описание товара") Мы поможем клиенту подобрать современное и надежное оборудование.
                  td(data-type="Кол-во на складе") 150 шт.


  .same-items
    .container
      p.same-items__header Другие модели
      ul.same-items__list
        li.same-items__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.same-items__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.same-items__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.same-items__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760
        li.same-items__item
          a.item-card(href="product.html")
            .item-card__img-wrapper
              img.item-card__img(src="img/item-card.png", alt="VMC — 1400")
            .item-card__info
              h3.item-card__name VMC — 1400
              ul.item-card__characteristics-list
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Размер рабочего стола, мм:
                  p.item-card__characteristics-value 1400х710
                li.item-card__characteristics-item
                  p.item-card__characteristics-name Перемещение по осям, мм:
                  p.item-card__characteristics-value Х = 1400; Y = 700; Z = 760