extends ./layout/index.pug

block content
  include ./components/breadcrumbs.pug

  .producer
    .container.decorated-block
      .producer__content
        .producer__about
          h1.producer__header Фрезерный станок VISPROM FPV-16 38804000

          .producer__description
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, quidem, pariatur? Voluptate illo, earum nemo aliquid corporis facere tempora, accusantium quo dignissimos deserunt, modi. Id distinctio enim nobis cum, ratione eligendi est expedita architecto tempore corporis, nostrum earum, dolorum. Eligendi.
            p Molestias possimus officia minima esse magnam quo sit molestiae quae reprehenderit sunt dignissimos alias optio blanditiis omnis maiores consectetur ipsum, sapiente dolorem accusamus aperiam doloribus! Explicabo laudantium atque provident illo consequuntur quam amet, illum, quos voluptas nihil iste ratione sit.
            p Rem nesciunt animi vero, cum dignissimos minus. Nisi alias deleniti, accusamus voluptatem totam placeat, asperiores doloribus obcaecati reprehenderit perferendis! Officia, quas amet saepe harum aspernatur non ullam aut esse, odio id maiores inventore est. Possimus quam quasi dolorum saepe mollitia.

          .producer__pdf
            h2.producer__pdf-header Каталоги производителя

            ul.producer__pdf-list
              li.producer__pdf-item
                a.producer__pdf-link(href="#" target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="img/pdf-preview.png", alt="Токарно-винторезные станки GOW серии Comfortline")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35" height="40")
                        use(xlink:href="#icon_pdf")
                      p.pdf-file__name Токарно-винторезные станки GOW серии Comfortline
                      p.pdf-file__size 3,5 МБ
              li.producer__pdf-item
                a.producer__pdf-link(href="#" target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="img/pdf-preview.png", alt="Токарно-винторезные станки GOW серии Comfortline")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35" height="40")
                        use(xlink:href="#icon_pdf")
                      p.pdf-file__name Токарно-винторезные станки GOW серии Comfortline
                      p.pdf-file__size 3,5 МБ
              li.producer__pdf-item
                a.producer__pdf-link(href="#" target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="img/pdf-preview.png", alt="Токарно-винторезные станки GOW серии Comfortline")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35" height="40")
                        use(xlink:href="#icon_pdf")
                      p.pdf-file__name Токарно-винторезные станки GOW серии Comfortline
                      p.pdf-file__size 3,5 МБ
              li.producer__pdf-item
                a.producer__pdf-link(href="#" target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="img/pdf-preview.png", alt="Токарно-винторезные станки GOW серии Comfortline")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35" height="40")
                        use(xlink:href="#icon_pdf")
                      p.pdf-file__name Токарно-винторезные станки GOW серии Comfortline
                      p.pdf-file__size 3,5 МБ
              li.producer__pdf-item
                a.producer__pdf-link(href="#" target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="img/pdf-preview.png", alt="Токарно-винторезные станки GOW серии Comfortline")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35" height="40")
                        use(xlink:href="#icon_pdf")
                      p.pdf-file__name Токарно-винторезные станки GOW серии Comfortline
                      p.pdf-file__size 3,5 МБ



        .aside-additional
          .producer__logo-wrapper
            img.producer__logo-img(src="img/partner.jpg", alt="Калашников")

          .aside-additional__block
            h2.aside-additional__header Фотографии

            .aside-gallery
              ul.aside-gallery__list
                li.aside-gallery__item
                  a.aside-gallery__link(href="http://prelestno24.ru/wp-content/uploads/2017/11/kartinka.jpg" target="_blank" data-description="Опсиание 1")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="http://love-picture.narod.ru/olderfiles/2/grust_1.jpg" target="_blank" data-description="Опсиание 2")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://images.ua.prom.st/358569076_w0_h0_123.jpg" target="_blank" data-description="Опсиание 3")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://aip-a.akamaihd.net/2018/04/Ischezayushhaya-kartinka-vzorvala-internet.png" target="_blank" data-description="Опсиание 4")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://images.ua.prom.st/1065689111_w0_h0_15.png" target="_blank" data-description="Опсиание 5")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link(href="https://mirgif.com/humor/prikol104.jpg" target="_blank" data-description="Опсиание 6")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")

          .aside-additional__block
            h2.aside-additional__header Видео

            .aside-gallery
              ul.aside-gallery__list
                li.aside-gallery__item
                  a.aside-gallery__link.aside-gallery__link--video(href="#" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")
                li.aside-gallery__item
                  a.aside-gallery__link.aside-gallery__link--video(href="#" target="_blank")
                    img.aside-gallery__preview(src="img/product-preview.jpg", alt="")


  .popup-img.popup
    .popup__content.popup-img__content
      img.popup-img__img(src="img/loading.svg", alt="Загрузка изображения")
      p.popup-img__description
      button.popup__close
        span.visually-hidden Закрыть
