extends ./layout/index.pug

block content
  include ./components/breadcrumbs.pug

  .producers
    .container
      .producers__content
        h1.producers__header Производители

        ul.producers__word-list
          li.producers__word-item
            a.producers__word-link(href="#") A
          li.producers__word-item
            a.producers__word-link(href="#") B
          li.producers__word-item
            a.producers__word-link(href="#") C
          li.producers__word-item
            a.producers__word-link(href="#") D
          li.producers__word-item
            a.producers__word-link(href="#") E
          li.producers__word-item
            a.producers__word-link(href="#") F
          li.producers__word-item
            a.producers__word-link(href="#") G
          li.producers__word-item
            a.producers__word-link(href="#") H
          li.producers__word-item
            a.producers__word-link(href="#") I
          li.producers__word-item
            a.producers__word-link(href="#") J
          li.producers__word-item
            a.producers__word-link(href="#") K
          li.producers__word-item
            a.producers__word-link(href="#") L
          li.producers__word-item
            a.producers__word-link(href="#") M
          li.producers__word-item
            a.producers__word-link(href="#") N
          li.producers__word-item
            a.producers__word-link(href="#") O
          li.producers__word-item
            a.producers__word-link(href="#") P
          li.producers__word-item
            a.producers__word-link(href="#") Q
          li.producers__word-item
            a.producers__word-link(href="#") R
          li.producers__word-item
            a.producers__word-link(href="#") S
          li.producers__word-item
            a.producers__word-link(href="#") T
          li.producers__word-item
            a.producers__word-link(href="#") U
          li.producers__word-item
            a.producers__word-link(href="#") V
          li.producers__word-item
            a.producers__word-link(href="#") W
          li.producers__word-item
            a.producers__word-link(href="#") X
          li.producers__word-item
            a.producers__word-link(href="#") Y
          li.producers__word-item
            a.producers__word-link(href="#") Z

        ul.producers__list
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
          li.producers__item
            a.producers__link(href="#")
              .producers__img-wrapper
                img.producers__img(src="img/partner.jpg", alt="АО Концерн Калашников")
              .producers__about
                h2.producers__name AO Концерн «Калашников»
                p.producers__site https://kalashnikov.com/
                p.producers__description Концерн «Калашников» – крупнейший российский производитель боевого автоматического и снайперского оружия, управляемых артиллерийских снарядов, а также широкого спектра высокоточного оружия.
