extends ./layout/layout.pug

block content
  include ./components/breadcrumbs.pug


  .producer
    .container.decorated-block

      .producer__content
        .producer__about
          h1.producer__header EUMACH CO., LTD
          .producer__description
            p Компания Eumach (Eumach Company Limited), основанная в 1988 году, сегодня производит все типы вертикальных и горизонтальных фрезерных обрабатывающих центров с ЧПУ с полным набором функций и превосходным качеством, которые экспортируются в 46 стран мира.
            p В 1996 и 2000 годах компания Eumach построила два новых завода в провинциях Шин-Канг и Шин-Ша, а в 2004 году был открыт третий завод для производства двухстоечных CNC машинных центров, которые занимают большую долю на местном рынке.
            p Станки компании Eumach с успехом используются в аэрокосмической, автомобильной, электронной индустрии и других высокотехнологичных отраслях.
            p Тщательный контроль производства, качества на каждом этапе, внедрение новейших разработок и глобальная сервисная поддержка выводят компанию на лидирующие позиции в мире.
            p Компания Eumach награждена самыми высокими наградами за развитие экономики Тайваня.

          .producer__additional-block
            h2.producer__additional-header Сертификат производителя
            .certificate
              a.certificate__link(href="https://st2.depositphotos.com/3324449/6393/i/450/depositphotos_63937059-stock-photo-rose-placed-on-the-books.jpg", target="_blank", data-alt="Описание 1")
                img.certificate__img(src="https://st2.depositphotos.com/2001755/5408/i/450/depositphotos_54081723-stock-photo-beautiful-nature-landscape.jpg", alt="", width="300", height="300")


          .producer__additional-block
            h2.producer__additional-header Каталоги производителя
            ul.producer__pdf-list
              li.producer__pdf-item
                a.producer__pdf-link(href="#", target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="http://stankim.snewer.ru/uploads/images/zb/fe/be/5b7e8272791b8.jpg", alt="")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35", height="40", aria-hidden="true", role="presentation")
                        use(xlink:href="#icon_pdf")
                      h3.pdf-file__name Каталог фрезерных 5-осевых станков
                      p.pdf-file__size 1.68 МБ
              li.producer__pdf-item
                a.producer__pdf-link(href="#", target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="http://stankim.snewer.ru/uploads/images/zb/fe/be/5b7e8272791b8.jpg", alt="")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35", height="40", aria-hidden="true", role="presentation")
                        use(xlink:href="#icon_pdf")
                      h3.pdf-file__name Каталог фрезерных 5-осевых станков
                      p.pdf-file__size 1.68 МБ

              li.producer__pdf-item
                a.producer__pdf-link(href="#", target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="http://stankim.snewer.ru/uploads/images/zb/fe/be/5b7e8272791b8.jpg", alt="")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35", height="40", aria-hidden="true", role="presentation")
                        use(xlink:href="#icon_pdf")
                      h3.pdf-file__name Каталог фрезерных 5-осевых станков
                      p.pdf-file__size 1.68 МБ

              li.producer__pdf-item
                a.producer__pdf-link(href="#", target="_blank")
                  .pdf-file
                    .pdf-file__img-wrapper
                      img.pdf-file__img(src="http://stankim.snewer.ru/uploads/images/zb/fe/be/5b7e8272791b8.jpg", alt="")
                    .pdf-file__about
                      svg.pdf-file__icon(width="35", height="40", aria-hidden="true", role="presentation")
                        use(xlink:href="#icon_pdf")
                      h3.pdf-file__name Каталог фрезерных 5-осевых станков
                      p.pdf-file__size 1.68 МБ

        .producer__additional-info
          .producer__logo-wrapper
            img.producer__logo(src="http://stankim.snewer.ru/uploads/images/60/s7/pm/5b7651f11251f.jpg", alt="")

          .producer__additional-block.producer__additional-block--photo
            h2.producer__additional-header Фотографии
            .gallery
              ul.gallery__list
                li.gallery__item
                  a.gallery__link(href="http://stankim.snewer.ru/uploads/images/te/mb/9r/5b6f1b39a50a9.jpg", target="_blank", data-alt="Описание 1")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/xw/lk/su/5b7e8561eed9a.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="http://stankim.snewer.ru/uploads/images/99/ty/dn/5b6f1b4d0d7f5.jpg", target="_blank", data-alt="Описание 2")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/xw/lk/su/5b7e8561eed9a.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/xw/lk/su/5b7e8561eed9a.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/xw/lk/su/5b7e8561eed9a.jpg", alt="")

          .producer__additional-block
            h2.producer__additional-header Видео
            .gallery.gallery--video
              ul.gallery__list
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/91/0r/rs/5b7e865040357.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/91/0r/rs/5b7e865040357.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/91/0r/rs/5b7e865040357.jpg", alt="")
                li.gallery__item
                  a.gallery__link(href="#", target="_blank")
                    img.gallery__preview(src="http://stankim.snewer.ru/uploads/images/91/0r/rs/5b7e865040357.jpg", alt="")

        


  .popup-img.popup
    .popup__content.popup-img__content
      img.popup-img__img(src="", alt="")
      p.popup-img__description
      button.popup__close
        span.visually-hidden Закрыть