extends ./layout/index.pug

block content
  include ./components/breadcrumbs.pug


  .stock.no-js
    .container
      h1.stock__header Товары на складе

      ul.stock__list
        li.stock__item
          button.stock__link(type="button")
            .stock__item-name Станки
            .stock__item-img-wrapper
              img.stock__item-img(src="img/stock-img.png", alt="Станки на складе")
          
          table.stock__table
            thead.stock__thead
              tr.stock__tr
                th.stock__th Артикул
                th.stock__th Название
                th.stock__th Остаток
                th.stock__th Документация (pdf)
            tbody.stock__tbody
              tr.stock__tr
                td.stock__td(data-type="Артикул") X8140
                td.stock__td(data-type="Название") Фрезерный широкоуниверсальный станок X8140 с УЦИ (горизонтальный стол 400х800мм, вертикальный стол 250х1200мм
                td.stock__td(data-type="Остаток") 150 шт.
                td.stock__td(data-type="Документация (pdf)")
                  a.stock__pdf-link(href="#", target="_blank") Подробнее
              tr.stock__tr
                td.stock__td(data-type="Артикул") YH-1552
                td.stock__td(data-type="Название") Многопозиционный холодновысадочный станок YH-1552 (макс. отрезаемый диаметр 5мм, макс. длина изделия 52мм)
                td.stock__td(data-type="Остаток") 150 шт.
                td.stock__td(data-type="Документация (pdf)")
                  a.stock__pdf-link(href="#", target="_blank") Подробнее

        li.stock__item
          button.stock__link(type="button")
            .stock__item-name Столы поворотные
            .stock__item-img-wrapper
              img.stock__item-img(src="img/stock-img.png", alt="Станки на складе")
          
          table.stock__table
            thead.stock__thead
              tr.stock__tr
                th.stock__th Артикул
                th.stock__th Название
                th.stock__th Остаток
                th.stock__th Документация (pdf)
            tbody.stock__tbody
              tr.stock__tr
                td.stock__td(data-type="Артикул") X8140
                td.stock__td(data-type="Название") Фрезерный широкоуниверсальный станок X8140 с УЦИ (горизонтальный стол 400х800мм, вертикальный стол 250х1200мм
                td.stock__td(data-type="Остаток") 150 шт.
                td.stock__td(data-type="Документация (pdf)")
                  a.stock__pdf-link(href="#", target="_blank") Подробнее
              tr.stock__tr
                td.stock__td(data-type="Артикул") YH-1552
                td.stock__td(data-type="Название") Многопозиционный холодновысадочный станок YH-1552 (макс. отрезаемый диаметр 5мм, макс. длина изделия 52мм)
                td.stock__td(data-type="Остаток") 150 шт.
                td.stock__td(data-type="Документация (pdf)")
                  a.stock__pdf-link(href="#", target="_blank") Подробнее
