.layout-contacts {
  flex-shrink: 0;
}



.layout-contacts__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.layout-contacts__item {
  margin: 0 0 0 50px;
}



.layout-contacts__link {
  display: block;
  position: relative;
  padding: 1px 0 1px 25px;
  color: @text-color-main;
}



.layout-contacts__link-icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}