.logo {
  width: 145px;
  flex-shrink: 0;


  .page-footer & {
    width: 122px;
  }



  @media (min-width: @desktop) {
    width: 281px;

    .page-footer & {
      width: 180px;
    }
  }
}



.logo__link {
  display: block;
}



.logo__img {
  display: block;
  width: 100%;
  height: auto;
}