.main-navigation {
  padding: 25px 0 0;
}



.main-navigation__list {
  display: flex;
  justify-content: flex-start;
  align-items: stretch;
  width: calc(~"100% + 40px");
  margin: 0 -20px;
}



.main-navigation__item {
  margin: 0 20px;
}