.page-header {
  padding: 10px 0;
  position: relative;

  @media (min-width: @tablet) {
    padding: 20px 0 0;
    position: static;
  }
}



.page-header__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}