.search-form {
  width: 300px;
  flex-shrink: 0;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;

  .search-open & {
    display: block;
  }


  @media (min-width: @tablet) {
    position: relative;
    width: 225px;
    display: block;
    top: auto;
    left: auto;
    transform: none;
    flex-grow: 1;
    margin: 0 15px;
  }
  @media (min-width: @desktop) {
    width: 410px;
    margin: 0 40px;
  }
}



.search-form__input {
  display: block;
  width: 100%;
  padding: 0 40px 0 10px;
}



.search-form__label {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}



.search-form__label-icon {
  fill: #bcbcbc;
}